Name     : Your Information
Type     : Your Information
Server   : Your Information
Login    : Your Information
Password : Your Information
Investor : Your Information
Typeacc  : Your Information

===========================

Name     : Your Information
Type     : Your Information
Server   : Your Information
Login    : Your Information
Password : Your Information
Investor : Your Information
Typeacc  : Your Information
